@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.commonBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  background-color: #fff;
  color: #000;
  border: 1.5px solid #000;
}
.commonBtn:hover {
  background-color: #000;
  color: #fff;
}
.commonBtn.fill {
  background-color: #000;
  color: #fff;
}
.commonBtn.fill:hover {
  background-color: #191919;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headingDiv {
  margin-bottom: 20px;
  text-align: center;
}
.headingDivTitle {
  font-size: 32px;
  font-weight: 600;
  color: #212121;
}
.headingDivTitleDesc {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.spaceTopBottom{
  padding: 60px 0;
}
